/**
 * SPDX-FileCopyrightText: 2020 Jens Lechtenbörger
 *
 * SPDX-License-Identifier: LicenseRef-MIT-JL

 * Intermediate improvements for HTML output.
 * To be integrated into index.css of oer-reveal.
 **/

div.figure, table {
  text-align: center;
  margin: 20px auto; }

div.figure img {
  max-width: 90%;
  display: block;
  float: none; }

table th {
  background-color: #a0a0a0;
  font-weight: bold; }

table tr:nth-child(odd) {
  background-color: whitesmoke; }
